.enviado{
  display: inline-block;
  color: #49e600 !important;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  border-color: #04da32 !important;
  background-color: transparent !important;
  stroke: none;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  font-style: initial;
  white-space: nowrap;
  text-decoration: none;
  border: 2 none transparent;
  outline-width: 0;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-text-1 {
  margin: 139px auto 0;
}

.u-section-1 .u-form-1 {
  height: 353px;
  width: 570px;
  margin: 13px auto 0;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 250px;
  margin: 6px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}